.icon-button {
  width: 6em;
  height: 6em;
  background-color: #f9f7f6;
  border-radius: 50%;
  padding: 5px;
  margin: 5px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
